.contact-top{
	font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
	font-size:75%;
	margin-top: 5px;
}

.contact-top a{
	text-decoration: underline;
}
.contact-top i{
	margin: 0 10px;
	color:hsla(0,0%,31%,1.00);
}

.title_contact{
	font-size: 110%;
	font-weight: 600;
	border-bottom: 1px solid #edad3e;
	padding-bottom: 5px;
	margin-top: 20px;
}
.bar{
    background-color: #0067b6;
    border-left: 12px solid #edad3e;
    display: block;
    padding: 10px 10px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 15px;
	color: white;
}
.pagrap{
    margin-bottom: 20px;
    font-size: 15px;
}
.pagrap a{
    text-decoration: underline;
    color: #2c6bc6;
}
.person_info_form{
    margin: 0 auto;
    width: 100%;
}

.person_info{
    width: 100%;
    max-width: 1024px;
    height: auto;
}


.person_info  tr td{
    box-sizing: border-box;
    display: block;
}

.person_info  tr:nth-child(1) td:nth-child(2){
    border-right: none;
}

.person_info  tr:nth-child(1) td:nth-child(3){
    border-left: none;
    padding-left: 0px;
}

.person_info  tr td input{
    width: 100%;
    /* max-width: 670px; */
    height: 40px;
    margin: 10px 0px;
    border: 1px solid #939393;
    box-sizing: border-box;
    outline: none;
	padding-left: 7px;
}

.person_info  tr td input:focus{
    outline: none !important;
    box-shadow: 0 0 7px #719ECE;
}

.person_info  tr td textarea{
    height: 200px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #939393;
	box-sizing: border-box;
	padding: 7px;
	
}
.person_info  tr td textarea:focus{
    outline: none !important;
    box-shadow: 0 0 7px #719ECE;
}

.person_info tr td:nth-child(1){
    background-color:hsla(0,0%,91%,1.00);
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    vertical-align: top;margin: 5px 0;
}

.type{
    background-color: #d1011b;
    font-size: 10px;
    color: #fff;
    padding: 2px 4px;
    margin-right: 5px;
	margin-top: 12px;
    box-sizing: border-box;
}
.verify{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}
.verify button{
    font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
	border: none;
	background-color: #edad3e;
	margin-top: 10px;
	box-shadow: 2px 2px 2px hsla(0,0%,47%,1.00)
}
.verify button a{
	color: white;
	display: block;
	padding: 8px 95px;
    font-size: 15px;
	
}
.verify button:hover{
	background: #0067b6;
}
@media screen and (min-width:768px) {
	.title_contact {
		font-size: 120%;
		margin-bottom: 50px;
		margin-top: 30px;
	}

    .contact-top{
        font-size: 90%;
        margin-top: 10px;
    }
    .person_info  tr td{
        display: table-cell;
    }
	
    .person_info tr td:nth-child(1){
        width: 30%;
    }
    .person_info{
        border: 1px solid #8f8e8d;
    }
    .person_info  tr td{
        border: 1px solid #8f8e8d;
    }
    .person_info  tr td input{
        width: 96%;
        margin: 10px;
    }
    .pagrap{
        font-size: 100%;
    }
    .verify{
        font-size: 100%;
		margin-top: 30px;
    }
    .person_info  tr:nth-child(1) td:nth-child(2) input{
        width: 95%;
    }
    
    .person_info  tr:nth-child(1) td:nth-child(3) input{
        width: 95%;
        margin-left: 0px;
    }
	.person_info  tr td textarea{
		height: 200px;
		margin: 10px 10px;
		width: 96%;
	}

}