.title_question{
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 25px auto;
}

.collapsible{
    background-color: rgb(236, 234, 232);
    cursor: pointer;
    transition: 0.4s;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.collapsible::after{
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.open:after {
    content: "\2212";
}

.collapsible span:nth-child(1){
    color: #edad3e;
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.open, .collapsible:hover {
    background-color: rgb(192, 187, 187);
}

.collapse_content{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    box-sizing: border-box;
    padding: 20px 0px 20px 20px;
}
.content_collapse_detail{
    display: flex;
    font-size: 13px;
}

.content_collapse_detail span:nth-child(1){
    color: #edad3e;
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content_collapse_detail span:nth-child(2){
    padding-left: 20px;
}

.block_collapse_content{
    margin: 30px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (min-width:767px){
    .title_question{
        font-size: 20px;
        margin: 35px auto;
    }
    .collapsible{
        font-size: 15px;
    }

    .content_collapse_detail{
        display: flex;
        font-size: 100%;
    }
}
