
/* ーーーーーーーーーーーーーーーーー　バナー　ここから　ーーーーーーーーー */

/*スライド画像の横幅可変*/

.banner ul{
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 530px;
	top:0;
	left: 0;
	margin: auto;
}
.banner ul li{
	height: 530px;
}
.banner ul li.slider1{
	background-image: url("../images/slider1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}
.banner ul li.slider2{
	background-image: url("../images/slider2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.banner ul li.slider3{
	background-image: url("../images/slider3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.clear{
    clear: both;
}
.banner{
    height: 530px;
	box-sizing: border-box;
    clear: both;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
	overflow: hidden;
}

.banner-slogan .banner-werent{
    line-height: 75px;
    margin-top: 70px;
}
.banner .banner-center{
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 10px;
    padding-top:35px;
}
.banner-form-search{
    width: 100%;
    max-width: 410px;
    height: auto;
    background-color: #fff;
     padding: 25px 15px; 
     box-sizing: border-box;
	z-index: 5;
}
.banner-form-search-title{
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 65%);;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 110%;
    font-weight: 600;
    color: hsl(0, 0%, 15%);
}
.banner-form-search-title >span{
    background: #fff;
    padding: 0 10px;
}
.span-banner-form-search-title{
    padding-top: 15px;
}
.banner-form-search-input{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.banner-form-search-input tr{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.banner-form-search-input .banner-form-search-td{
    width: 47%;
    position: relative;
}
.banner-form-search-input .banner-form-search-td i{
    position: absolute;
    top:17px;
    right: 6px;
}
.banner-form-search-input td.form-content{
    text-align: left;
    font-weight: 600;
    margin-top: 5px;
}
.banner-form-search-input .banner-form-search-td input{
    width: 100%;
    margin: 10px 0;
    padding: 5px 3px;
    height: 32px;
    cursor: pointer;
    box-sizing: border-box;
    display: block; 
} 
.banner-form-search-input .banner-form-search-td select{
    width: 100%;
    margin: 10px 0;
    padding: 5px 3px;
    height: 32px;
    cursor: pointer;
    box-sizing: border-box;
    background: white;
} 
.search-submit{
    display: block;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    background: rgb(27, 27, 27);
    color: #fff;
    margin-top: 20px;
    width: 200px;
    padding: 7px 10px;
    box-sizing: border-box;
    border: none;
    box-shadow: 3px 3px 2px hsl(0, 0%, 59%);
}
.search-submit:hover{
    background: hsl(0, 0%, 20%);
}
/* ーーーーーーーーーーーーーーーーー　バナー　ここまで　ーーーーーーーーー */

/*  ーーーーーーーーーーーーー　ご利用案内　ここからーーーーーーーーーーーーーーーー */
.use{
    text-align: center;
    margin:auto;
    padding: 12px;
    box-sizing: border-box;
    padding-top:35px;
    max-width: 1024px;
}
.use h2{
    font-size: 95%;
    color: rgb(29, 29, 29);
    margin-top: 10px;
}
.use .title{
    font-size: 140%;
    font-weight: 600;
    color:rgb(48, 48, 48)
}
.use .title:after{
    content: "";
    display: block;
    width: 150px;
	height: 1.5px;
    margin:8px auto;
    background-color: #ecac3e;
}
.use ul a:hover{
    opacity: 0.8;
}
.use ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top:35px;
}

.use ul li{
    width: 31%;
    position: relative;
}
.use ul li dt{
	overflow: hidden;
}
.use ul li img{
	width: 100%;
	height: auto;
	display: block;
	transition: 1s;
}
.use ul li img:hover {
	transform: scale(1.15);
}
.use ul li span{
    border-left: 3px solid #edad3e;
    padding:1px 6px;
    margin-top: 10px;
    display: block;
    color: #edad3e;
    font-weight: 600;
    text-align: left;
    font-size: 105%;
}
.use ul p{
    text-align: left;
   
    padding: 10px 0;
    font-size: 95%;
}
/*  ーーーーーーーーーーーーー　ご利用案内　ここまでーーーーーーーーーーーーーーーー */

/*  ーーーーーーーーーーーーー　LIST-CAR　ここからーーーーーーーーーーーーーーーー */
#list-car{
    background: #e4f1f6;
    margin-top: 15px;
    padding-bottom: 10px;
}
.list-car{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 12px;
    box-sizing: border-box;
}
.list-car .type{
	background: #0067b6;
    color: #fff;
    border-left: 15px solid #edad3e;
    display: block;
    padding: 15px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.list-car-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 1024px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 28px;
}
.list-car .car-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.list-car .car-line-img{
    width: 45%;
}
.list-car .car-line-img img{
    width: 100%;
    height: auto;
}
.car-line-type{
    width: 49%;
}
.car-line-type p{
    line-height: 1.5em;
    font-size: 90%;
    letter-spacing: .07em; 
}
.car-line-type p strong{
    font-weight: 600;
    font-size: 100%;
}
.list-car .car-line-type .car-line-btn a{
    width: 100%;
	padding: 8px 5px;
    border-radius: 6px;
    box-sizing: border-box;
	font-size: 96%;
	font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
  	text-align: center;
  	color: white;
    margin-top: 10px;
    
    background: #edad3e;
    display: block;
    box-shadow: 2px 2px 2px hsl(0, 0%, 49%);
}
.list-car .car-line-type .car-line-btn a:hover{

    opacity: 0.8;
}

.list-car .price{
    margin-bottom: 30px;
    margin-top: 15px;
}
.list-car .price p{
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
    font-size: 90%;
    color: hsl(0, 0%, 13%);
}
.list-car table tr{
    width: 100%;
    background: white;
    border:1px solid hsl(0, 0%, 84%);
}
.list-car table tr th{
    background: hsl(39, 100%, 94%);
    padding: 9px 4px;
}
.list-car table tr td{
    padding: 9px 4px;
    border:1px solid hsl(0, 0%, 84%);
    text-align: center;
}
.list-car .price span{
    margin-top: 5px;
    font-size: 80%;
    display: block;
    text-align: right;
 
}
/*  ーーーーーーーーーーーーー　LIST-CAR　ここまでーーーーーーーーーーーーーーーー */

/*  ーーーーーーーーーーーーー　会社概要　ここからーーーーーーーーーーーーーーーー */
.about{
    width: 100%;
    max-width: 1024px;
    padding:12px;
    box-sizing: border-box;
    margin: auto;
    padding-bottom: 40px;
}
.about h2{
    padding-top: 30px;
    text-align: center;
    font-size: 150%;
    font-weight: 600;
}
.about h2::after{
    content: "";
    display: block;
    width: 100px;
    height: 1.5px;
    margin:7px auto;
    background: #edad3e;
}
.about h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 40px;
}
.about ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.about ul li{
    width: 32%;
    margin-bottom:20px;
    position: relative;
	display: block;
	overflow: hidden;
}
.about ul {
    text-decoration: underline;
}
.about ul li a:hover{
    text-decoration: underline;
}

.about ul li span{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 7px;
    color: hsl(0, 0%, 100%);
    z-index: 1;
}
.about ul li span::before{
    background-image: linear-gradient(#ffffff05,black);
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    z-index: -1;
}

.about ul li img{
    width: 100%;
    height: auto;
	transition: 1s;
}
.about ul li:hover img{
	transform:scale(1.15);
}
/*  ーーーーーーーーーーーーー　会社概要　ここまでーーーーーーーーーーーーーーーー */

@media screen and (min-width:767px){
    .list-car .car-line-img{
        width: 100%;
    }
    .list-car .car-line-type{
        width: 100%;
    }
    .car-line-price{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .car-line{
        width: 40%;
        margin-bottom: 20px;
    }
    .list-car .price{
        width: 55%;
    }
    .car-line-type p{
        text-align: center;
        font-size: 100%;
    }
    .car-line-type p strong{
        line-height: 1.7em;
        font-size: 110%;
    }
    .list-car .car-line-type .car-line-btn a{
        margin:10px auto;
        margin-bottom: 25px;
        max-width: 250px;
        padding: 10px;
       
    }
    .list-car table tr th{
        background: hsl(39, 100%, 94%);
        padding: 12px 4px;
    }

}
@media screen and (max-width:767px){
	.banner ul li{
	height: 210px;
}
	.banner ul li.slider1{
	background-image: url("../images/slider1.jpg");
	background-repeat: no-repeat;
		background-position: center;
	background-size: cover;
}
.banner ul li.slider2{
	background-image: url("../images/slider2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.banner ul li.slider3{
	background-image: url("../images/slider3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
      .banner{
          height: 210px;
		  
      }
      .introtouse{
        margin-top: 535px;
      }
      .banner-form-search{
          max-width: 700px;
          margin: 200px auto;
          background-color: transparent;
      }
      /* end hamburger menu */

      .banner .banner-center{
          padding:10px 0px 0px 0px;
      }
      .banner-form-search-title >span{
        background: #e4f1f6;
      }
      .form-search{
        position: relative;
        background-color: #e4f1f6;
      }

      .icon-list{
          display: flex;
          margin-top: 15px;
          position: absolute;
          right: 55px;
          text-align: center;
      }
      .iconlist_i_p i{
        font-size: 21px;
        margin: 0 auto;
        margin-bottom:5px; 
        text-align: center;
      }
      .iconlist_i_p p{
        margin-right: 9px;
        font-size: 11px;
      }
    .use ul li{
        width: 48%;
        margin-bottom: 15px;
    }
    #list-car{
        background: #e4f1f6;
        margin-top: 0px;
        padding-bottom: 5px;
    }
    .list-car ul li{
        width: 48%;
    }
    .about ul li {
        width: 48%;
        margin-bottom: 15px;
    }
}
@media Screen and (max-width:480px){
    .use ul li{
        width: 100%;
    }
    .use{
        padding-bottom: 0;
    }
    .use ul{
        padding-bottom:0;
    }
	.use ul li span{
    border-left: 3px solid #edad3e;
    padding: 5px;
    margin-top: 10px;
    display: block;
    color: #edad3e;
    font-weight: 600;
    text-align: left;
    font-size: 100%;
}
	.use ul li p{
		font-size: 95%;
		color: hsla(0,0%,24%,1.00);
	}
    .use ul li:last-child{
        margin-bottom: 0;
    }
    #list-car{
        margin-top: 10px;
        padding-bottom: 0;
    }
    .list-car{
        padding-top: 0;
        margin-top: 0;
    }
    .list-car-title{
        margin-top: 0;
        padding-top: 20px;
        font-size: 140%;
    }
    .list-car .type{
        border-left: 12px solid #edad3e;
        padding: 10px;
        margin-bottom: 20px;
    }
    .about{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .about h2{
        font-size: 120%;
    }
    .about h3{
        margin-bottom: 20px;
    }
    .about ul li span {
        font-size: 74%;
        padding:5px 5px;
        padding-right: 0;
    }
}
@media Screen and (max-width:320px){
    .about ul li span {
        font-size: 60%;

    }
}