
/* ーーーーーーーーーーーーーーーーー　バナー　ここから　ーーーーーーーーー */
.clear{
    clear: both;
}
.banner{
    height: 530px;
    clear: both;
    background-image: url('../images/car.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
}
.banner-slogan{
    color: #fff;
    font-weight: 500px;
    position:absolute;
    font-size: 130%;
    top: 70px;
    right: 20px;
    height: 100px;
    text-align: center;
    line-height: 30px;
}
.banner-slogan .banner-werent{
    line-height: 75px;
    margin-top: 70px;
}
.banner .banner-center{
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 10px;
    padding-top:60px;
}
.banner-form-search{
    width: 100%;
    max-width: 410px;
    height: auto;
    background-color: #fff;
    /* padding: 30px 20px; 
     */
     padding: 30px 12px; 
     box-sizing: border-box;
}
.banner-form-search-title{
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.banner-form-search-title >span{
    background: #fff;
    padding: 0 10px;
}
.banner-form-search-input{

    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.banner-form-search-input tr{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.banner-form-search-input tr td{
    width: 49%;
}
.banner-form-search-input tr td input{
    width: 90%;
    margin: 10px 0;
} 
.banner-form-search-input tr td select{
    width: 90%;
    margin: 10px 0;
    padding: 3px;
} 
.span-banner-form-search-title{
    padding-top: 30px;
}
.search-submit{
    display: block;
    text-align: center;
    margin: 0 auto;
    background: #000;
    color: #fff;
    margin-top: 20px;
    width: 200px;
    padding: 5px 10px;
}
.span-banner-form-search-title{
    padding-top: 30px;
}
/* ーーーーーーーーーーーーーーーーー　バナー　ここまで　ーーーーーーーーー */

/*  ーーーーーーーーーーーーー　ご利用案内　ここからーーーーーーーーーーーーーーーー */
.use{
    text-align: center;
    margin:auto;
    padding: 12px;
    box-sizing: border-box;
    padding-top:35px;
    max-width: 1024px;
}
.use h2{
    font-size: 95%;
    color: rgb(29, 29, 29);
    margin-top: 10px;
}
.use .title{
    font-size: 140%;
    font-weight: 600;
    color:rgb(48, 48, 48)
}
.use .title:after{
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    margin:8px auto;
    background-color: #ecac3e;
}
.use ul a:hover{
    opacity: 0.8;
}
.use ul
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top:35px;
}

.use ul li
{
    width: 31%;
    position: relative;
}
.use ul li img{
    width: 100%;
    height: auto;
}

.use ul li span{
    border-left: 3px solid #edad3e;
    padding: 5px;
    margin-top: 10px;
    display: block;
    color: #edad3e;
    font-weight: 600;
    text-align: left;
    font-size: 105%;
}
.use ul p{
    text-align: left;
    line-height: 1.4em;
    padding: 10px 0;
    font-size: 95%;
}
/*  ーーーーーーーーーーーーー　ご利用案内　ここまでーーーーーーーーーーーーーーーー */

/*  ーーーーーーーーーーーーー　LIST-CAR　ここからーーーーーーーーーーーーーーーー */
#list-car{
    background: #e4f1f6;
    margin-top: 30px;
}
.list-car{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 12px;
    box-sizing: border-box;
}
.list-car h2{
    background-color: #2b5799;
    color: #fff;
    border-left: 15px solid #edad3e;
    display: block;
    padding: 15px 15px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.list-car-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 1024px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 28px;
}

.list-car ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
}
.list-car ul li{
    width: 32%;
    margin-bottom: 55px;
    text-align:center;
}
.li-list-car > img{
    width: 100%;
    height: auto;
}
.list-car .car-link {
	border: solid 1px black;
	padding: 10px 50px;
	font-size: 105%;
	font-weight: 600;
	font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
  	display: inline-block;
    background: -webkit-linear-gradient(left, #edad3e 50%, transparent 50%);
    background: -o-linear-gradient(left, #edad3e 50%, transparent 50%);
    background: linear-gradient(to right, #edad3e 50%, transparent 50%);
  	background-size: 200% 100.5%;
  	background-position: right bottom;
  	text-align: center;
  	color: #0E0E0E;
    margin-top: 20px;
  	transition: all .3s;
}
.list-car .car-link:hover {
    background-position: left bottom;
    color: white;
    opacity: 1; 
}
.span-li-list-car{
    margin: 0 auto;
    text-align: center;
}
.li-list-car > span:nth-child(3)
{
    font-size: 24px;
    font-weight: bold;
}
.list-car .car-name{
    font-weight: bold;
    line-height: 40px;
}
.li-list-car > p{
    text-align: left;
    line-height: 25px;
}
/*  ーーーーーーーーーーーーー　LIST-CAR　ここまでーーーーーーーーーーーーーーーー */

/*  ーーーーーーーーーーーーー　会社概要　ここからーーーーーーーーーーーーーーーー */
.about{
    width: 100%;
    max-width: 1024px;
    padding:12px;
    box-sizing: border-box;
    margin: auto;
    padding-bottom: 40px;
}
.about h2{
    padding-top: 30px;
    text-align: center;
    font-size: 150%;
    font-weight: 600;
}
.about h2::after{
    content: "";
    display: block;
    width: 100px;
    height: 1.5px;
    margin:7px auto;
    background: #edad3e;
}
.about h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 40px;
}
.about ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.about ul li{
    width: 32%;
    margin-bottom:20px;
    position: relative;
}
.about ul {
    text-decoration: underline;
}
.about ul li a:hover{
    text-decoration: underline;
}
.about ul li span{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 7px;
    color: white;
    z-index: 1;
}
.about ul li span::before{
    background-image: linear-gradient(rgba(255, 255, 255, 0.021),black);
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    z-index: -1;
}
.about ul li img{
    width: 100%;
    height: auto;
}
/*  ーーーーーーーーーーーーー　会社概要　ここまでーーーーーーーーーーーーーーーー */
@media screen and (max-width:767px){
      .banner-slogan{
          display: none;
      }
      .banner{
          height: 210px;
      }
      .introtouse{
        margin-top: 535px;
      }
      .banner-form-search{
          margin: 200px 12px;
          background-color: transparent;
      }
      /* end hamburger menu */
      .use{
        padding-top: 450px;
      }
      .banner .banner-center{
          padding:10px 0px 0px 0px;
      }
      .banner-form-search-title >span{
        background: #e4f1f6;
      }
      .form-search{
        position: relative;
        background-color: #e4f1f6;
      }

      .icon-list{
          display: flex;
          margin-top: 15px;
          position: absolute;
          right: 55px;
          text-align: center;
      }
      .iconlist_i_p i{
        font-size: 21px;
        margin: 0 auto;
        margin-bottom:5px; 
        text-align: center;
      }
      .iconlist_i_p p{
        margin-right: 9px;
        font-size: 11px;
      }
    .use ul li{
        width: 48%;
        margin-bottom: 15px;
    }
    .list-car ul li{
        width: 48%;
    }
    .about ul li {
        width: 48%;
        margin-bottom: 15px;
    }
}
@media Screen and (max-width:480px){
    .use ul li{
        width: 100%;
    }
    .use{
        padding-bottom: 0;
    }
    .use ul{
        padding-bottom:0;
    }
	.use ul li span{
    border-left: 3px solid #edad3e;
    padding: 5px;
    margin-top: 10px;
    display: block;
    color: #edad3e;
    font-weight: 600;
    text-align: left;
    font-size: 100%;
}
	.use ul li p{
		font-size: 95%;
		color: hsla(0,0%,24%,1.00);
	}
    .use ul li:last-child{
        margin-bottom: 0;
    }
    .list-car ul li{
        width: 100%;
        margin-bottom: 20px;
    }
    .list-car{
        padding-top: 0;
        margin-top: 0;
    }
    .list-car-title{
        margin-top: 0;
        padding-top: 25px;
        font-size: 140%;
    }
    .list-car h2{
        border-left: 12px solid #edad3e;
        padding: 10px;
        margin-bottom: 20px;
    }
    .about{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .about h2{
        font-size: 120%;
    }
    .about h3{
        margin-bottom: 20px;
    }
    .about ul li span {
        font-size: 55%;
        padding:5px 4px;
    }
}