

@media screen and (min-width: 320px){
    .main{
		width: 100%;
		max-width: 700px;
		margin: 0 auto;
		box-sizing: border-box;
	}

    .block_step > p{
        border-bottom: 2px solid darkgoldenrod;
        width: 100%;
        padding: 15px 0px;
    }
    
    .block_content
    {
        display: flex;
        justify-content:space-between;
        margin-top: 20px;
    }
    
    .block_content > span:nth-child(1){
        width: 70%;
        font-size: 12px;
    }
    
    .block_content > span:nth-child(2){
        width: 30%;
        background-image: url('../images/credo.jpg');
        height: 90px;
    }

    .space{
        margin: 40px 0;
    }

    .arrow-right{
		border-left: 5px solid #fff;
		border-top: 5px solid #edad3e;
		border-bottom: 5px solid #edad3e;
		width: 0;
		height: 0;
	}
}

@media screen and (min-width:768px) {
    .block_step > p{
        border-bottom: 2px solid darkgoldenrod;
        width: 100%;
        padding: 15px 0px;
    }
    
    .block_content
    {
        display: flex;
        justify-content:space-between;
        margin-top: 20px;
    }
    
    .block_content > span:nth-child(1){
        width: 70%;
        font-size: 100%;
    }
    
    .block_content > span:nth-child(2){
        width: 30%;
        background-image: url('../images/credo.jpg');
        height: 200px;
    }

    .arrow-right{
		border-left: 10px solid #fff;
		border-top: 10px solid #edad3e;
		border-bottom: 10px solid #edad3e;
		width: 0;
		height: 0;
	}
}