<!--ーーーーーーーーーーーーーー FOOTER　ここからーーーーーーーー -->
<div class="contact">
    <div class="contact-content">
        <div class="contact-title">お問い合わせ</div>
        <p>
            ご質問やご相談など、お電話またはメールにてお気軽にお寄せください。<br>
            <span>予約専用ダイヤル：050-1234-1234</span><br>
            [営業時間] 08:00-20:00
        </p>
        <a href="contact.html"><i class="far fa-envelope"></i> メールでお問い合わせ</a>
    </div>
</div>
<div class="footer">
    <div class="footer-bar">
        <a href="index.html"><img src="images/logo.png" alt=""></a>
        <span>「 旅をもっと自由に車に乗れば、楽しみはもっと広がる！ 」</span>
    </div>
    <hr>
    <ul class="ul-footer footer-pc">
        <li class="ul-li-footer">
            <p class="li-footer-title">
                レンタカーを使う
            </p>
            <p class="li-footer-content">
                <a href=""><i class="fas fa-angle-right"></i> 店舗を探す</a> <br>
                <a href=""><i class="fas fa-angle-right"></i> 車重と料金</a><br>
                <a href=""><i class="fas fa-angle-right"></i> レンタカーを予約</a><br>
            </p>
        </li>
        <li class="ul-li-footer">
            <p class="li-footer-title">
                初めてご利用案内の方へ
            </p>
            <p class="li-footer-content">
                <a href="use.html"><i class="fas fa-angle-right"></i> ご利用について</a><br>
                <a href="question.html"><i class="fas fa-angle-right"></i> よくある質問 </a><br>
                <a href="flow.html"><i class="fas fa-angle-right"></i> 当日の流れ</a><br>
                <a href="contact.html"><i class="fas fa-angle-right"></i> お問い合わせ</a><br>
            </p>
        </li>
        <li class="ul-li-footer">
            <p class="li-footer-title">
                このサイトについて
            </p>
            <p class="li-footer-content">
                <a href="sitemap.html"><i class="fas fa-angle-right"></i> サイトマップ</a><br>
                <a href="about.html"><i class="fas fa-angle-right"></i> 会社情報</a><br>
                <a href="https://wecompany.co.jp/recruit"><i class="fas fa-angle-right"></i> 採用情報</a><br>
                <a href="https://wecompany.co.jp"><i class="fas fa-angle-right"></i> グループ紹介</a><br>
                <a href="policy.html"><i class="fas fa-angle-right"></i> プライバシーポリシー</a><br>
            </p>
        </li>
        
    </ul>
    <ul class="footer-smt">
        <li><a href="#"><i class="fas fa-angle-right"></i> 店舗を探す</a></li>
        <li><a href="#"><i class="fas fa-angle-right"></i> 車重と料金</a></li>
        <li><a href="#"><i class="fas fa-angle-right"></i> レンタカーを予約</a></li>
        <li><a href="use.html"><i class="fas fa-angle-right"></i> ご利用について</a></li>
        <li><a href="question.html"><i class="fas fa-angle-right"></i> よくある質問</a></li>
        <li><a href="flow.html"><i class="fas fa-angle-right"></i> 当日の流れ</a></li>
        <li><a href="contact.html"><i class="fas fa-angle-right"></i> お問い合わせ</a></li>
        <li><a href="sitemap.html"><i class="fas fa-angle-right"></i> サイトマップ</a></li>
        <li><a href="profile.html"><i class="fas fa-angle-right"></i> 会社情報</a></li>
        <li><a href="https://wecompany.co.jp/recruit"><i class="fas fa-angle-right"></i> 採用情報</a></li>
        <li><a href="https://wecompany.co.jp"><i class="fas fa-angle-right"></i> グループ紹介</a></li>
        <li><a href="policy.html"><i class="fas fa-angle-right"></i> プライバシーポリシー</a></li>
    </ul>
    <div class="copyright">Copyright &copy; 2021 WE・RENTACAR Co.,Ltd. All rights reserved</div>
</div> 
</div>

<!-- js for hamburger menu -->
<script>
$("#js-hamburger").click(function () {
$("#js-top-line").toggleClass("active");
$("#js-center-line").toggleClass("active");
$("#js-bottom-line").toggleClass("active");
$("#js-menu_btn").toggleClass("active");
$("#js-nav").toggleClass("show");
});
</script>
</body>
</html>