
    
    <div class="wrap-content">
        <h1 class="nav-bar"></h1>
        <div class="nav-top">
            <div class="menu-slogan">
                <div class="logo"> 
                    <a href="index.html"><div class="logo-left"></div></a>
                    <div class="icon-list">
                        <div class="iconlist_i_p"><a href="tel:050-5578-2017"><i class="fas fa-phone"></i><p>電話する</p></a></div>
                        <div class="iconlist_i_p"><a href="#"><i class="fas fa-car"></i><p>予約する</p></a></div>
                        <div class="iconlist_i_p"><a href="contact.html"><i class="fas fa-envelope"></i><p>お問い合わせ</p></a></div>
                    </div>
                    <div class="hamburger-menu"> 
                        <div id="js-nav" class="navigation">
                        <nav class="nav">
                            <ul class="list">
                                <li><a href="index.html">ホーム <i class="fas fa-angle-right"></i></a></li>
                                <li><a href="">車重と料金<i class="fas fa-angle-right"></i></a></li>
                                <li><a href="flow.html">当日の流れ<i class="fas fa-angle-right"></i></a></li>
                                <li><a href="about.html">WERENTACARについて<i class="fas fa-angle-right"></i></a></li>
                                <li><a href="message.html">代表メッセージ<i class="fas fa-angle-right"></i></a></li>
                                <li><a href="manage.html">経営理念<i class="fas fa-angle-right"></i></a></li>
                                <li><a href="corporate.html">企業理念<i class="fas fa-angle-right"></i></a></li>
                                <li><a href="credo.html">行動指針<i class="fas fa-angle-right"></i></a></li>
                                <li><a href="profile.html">会社概要<i class="fas fa-angle-right"></i></a></li>
                                <li><a href="use.html">ご利用について<i class="fas fa-angle-right"></i></a></li>
                                <li><a href="question.html">よくある質問<i class="fas fa-angle-right"></i></a></li>
                                <li><a href="contact.html">お問い合わせ<i class="fas fa-angle-right"></i></a></li>
                                <li><a href="sitemap.html">サイトマップ<i class="fas fa-angle-right"></i></a></li>
                                <li><a href="policy.htm">プライバシーポリシー<i class="fas fa-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                         <!-- hamburger button -->
                        <button id="js-hamburger" class="hamburger" type="button">
                            <span id="js-top-line" class="top-line"></span>
                            <span id="js-center-line" class="center-line"></span>
                            <span id="js-bottom-line" class="bottom-line"></span>
                            <p class="menu_btn">MENU</p>
                        </button>
                        <!-- end hamburger button -->
                    </div>
                    <div class="header-btn">
                        <a href="">レンタカー予約 <i class="fas fa-angle-right"></i></a>
                        <a href="contact.html">お問い合わせ <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="menu">
                    <ul class="ul-menu">
                        <li><a href="index.html">ホーム</a></li>
                        <li class="li-menu"><a href="about.html">会社情報</a></li>
                        <li class="li-menu"><a href="">車重と料金</a></li>
                        <li class="li-menu"><a href="flow.html">当日の流れ</a></li>
                        <li class="li-menu"><a href="use.html">ご利用について</a></li>
                        <li class="li-menu"><a href="question.html">よくある質問</a></li>
                        <li class="li-menu"><a href="contact.html">お問い合わせ</a></li>
                    </ul>
                </div>
            </div>
        </div>
</div>
<div class="banner_bar"><h1>当日の流れ</h1></div>