ErrorDocument 404 https://werentacar.jp/404.html
ErrorDocument 500 https://werentacar.jp/404.html
RewriteEngine On

# www無しのURLに統一
RewriteCond %{HTTP_HOST} ^www\.werentacar\.jp
RewriteRule ^(.*) http://werentacar.jp/$1 [R=301,L]

